*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  background-color: grey;
}
 nav{
   display: block;
 }
.navbar{
  background-color: #3D3232 ;
  justify-content: space-around;
  height: 90px;
  align-items: center;
  padding-top: 0;
}
.navbar a ,
input{
  color:#fff;
  font-weight: bolder;
  font-size: 18.5px;
  margin-right:15px;
  text-decoration: none;
}
.search-area {
  margin-left: 20%;
  position: relative;
}
.search-input{
  height: 45px;
  width: 300px;
  border: none;
  border-radius: 9px;
}

.fa-search {
  position: absolute;
  right: 295px;
  top:15px;

}
.top{
  display: flex;
}
.container{
  display: grid;
}
.grid{
  display: grid;
}

.article1{
background-color: #383333;

}
.section1{
  padding-left: 20%;
    font-size: 30px;
    font-weight: bolder;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
}
.flex{
  display: flex;
}
.article-tag flex{
  justify-content: space-around;
}